# **TALLER PANDAS**
## **Brayan Mauricio Cruz Martínez**
### Especialización Bases de Datos - Programación en Bases de Datos.

# Nota: Cargar al Colab el archivo **employees_43.csv**

In [ ]:
import pandas as pd
from datetime import datetime

3) Reading employees_43.csv locally (Extract)

In [ ]:
df = pd.read_csv("/content/employees_43.csv",sep="-")
print(df.info())
df

4) Counting number of **NULLS/NA** in each column

In [ ]:
print("Quantity of nulls/na in each column: \n",df.isnull().sum())

5) Deleting all **NULLS/NA** in the df. (Transform)

In [ ]:
df=df.dropna()
print("New df after deleting nulls/na: \n",df.info())

6) Parsing column datatypes to its rightful type. (Transform)

In [ ]:
#Parsing columns First Name, Gender, Team, Senior Management and Bonus from Object to String.
df['First Name']=df['First Name'].astype('string')
df['Gender']=df['Gender'].astype('string')
df['Team']=df['Team'].astype('string')
df['Senior Management']=df['Senior Management'].astype('string')
df['Bonus %']=df['Bonus %'].astype('string')

#Parsing column Bonus from String to Float.
df['Bonus %'] = df['Bonus %'].apply(lambda x: x.replace(",","."))
df['Bonus %'] = df['Bonus %'].astype('float64')

#Parsing Salary to a numeric type and filling possibles N/A fields with a 0.
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')
df['Salary'] = df['Salary'].fillna(0)
df['Salary'] = df['Salary'].astype(int)

#Parsing Start Date to Date (Month/Day/Year).
df['Start Date'] = pd.to_datetime(df['Start Date'], format='%m/%d/%Y', errors='coerce')

#Parsing Last Login Time to Date (Hour:Minutes)
df['Last Login Time'] = pd.to_datetime(df['Last Login Time'],format='%I:%M %p', errors='coerce')

In [ ]:
print("Dataframe with each column to its rightful data type: ", df.info())

7) Ordering alphabetically the dataframe by First Name column.

In [ ]:
sorted_df=df.sort_values(by=['First Name'], ascending=True)
sorted_df

8) Creating new column as index and assigning a value starting from 100.

In [ ]:
new_serie = pd.Series(range(100, 100 + len(df)), name='Index')
sorted_df['Index'] = range(100, 100 + len(df))
sorted_df

9) Creating a new dataframe with unique values from column Team.

In [ ]:
team_unique = sorted_df['Team'].unique()
team_df = pd.DataFrame(team_unique, columns=['Team'])
team_df

10) Assigning to each Team a PK

In [ ]:
team_df.insert(0, 'ID_Team', range(1, len(team_df) + 1))
team_df

11) Assigning ID_Team from team_df into a new Column in sorted_df each according to the Team field.

In [ ]:
sorted_df['ID_Team'] = sorted_df['Team'].map(team_df.set_index('Team')['ID_Team'])

sorted_df

12) Deleting column Team(string), which contains the names of the team in sorted_df.

In [ ]:
sorted_df= sorted_df.drop(columns='Team')
sorted_df

13) Counting the employees by Team in sorted_df.

In [ ]:
quantity_employees_byTeam = sorted_df.groupby('ID_Team').size().reset_index(name='Quantity of Employees')

quantity_employees_byTeam

14) Calculating the total of salaries by team

In [ ]:
salaries_by_team = sorted_df.groupby('ID_Team')['Salary'].sum().reset_index(name='Salary by Team')
salaries_by_team

15) Quantity of women and men in sorted_df

In [ ]:
quantity_by_gender = sorted_df.groupby('Gender')['Gender'].count().reset_index(name='Quantity by Gender')
quantity_by_gender

16) Employees who logged in the current month.

In [ ]:
current_month = datetime.now().month
employees_currentMonth_LoggedIn = sorted_df[sorted_df['Start Date'].dt.month == current_month]
employees_currentMonth_LoggedIn

17) Quantity of employees who logged in by year

In [ ]:
quantity_year = sorted_df.groupby(sorted_df['Start Date'].dt.year)['Start Date'].count().reset_index(name='Quantity by Year')
quantity_year

18) Quantity of employees who haven't logged in the last fifteen years.

In [ ]:
quantity_year_fy = sorted_df.groupby(sorted_df['Start Date'].dt.year)['Start Date'].count().reset_index(name='Quantity by Year')
quantity_year_fy = quantity_year_fy[quantity_year_fy['Start Date'] >= 2009]
quantity_year_fy

19) Joining team_df and sorted_df to generate a new df.

In [ ]:
new_df = pd.merge(sorted_df,team_df, how='inner', on='ID_Team')
new_df = new_df[new_df['Start Date'].dt.year>2000]
final_df = new_df[['First Name','Salary','Team']]

final_df

    First Name  Salary             Team
1          Amy   75415  Client Services
3         Anna  117293  Client Services
5      Barbara   85718  Client Services
6     Benjamin  114356  Client Services
7       Bonnie   90427  Client Services
..         ...     ...              ...
759    Theresa   75661            Legal
760    Timothy   49473            Legal
761       Tina   88276            Legal
762      Wanda   65362            Legal
763     Willie   55038            Legal

[356 rows x 3 columns]